composer.phar
.idea/
/vendor/
composer.lock

/locale/cache
/backups
/storage
/temp
/cache
/logs

.env
/xdebug

/app/Controllers/Pulsar/
/app/Models/Pulsar/
/app/Views/pulsar/
/locale/fr_CA/pulsar/
/locale/en_CA/pulsar/
/app/Views/mails/pulsar/
/docs/pulsar
/sql/pulsar
/public/assets/pulsar/
/public/javascripts/pulsar/
/public/stylesheets/pulsar/